[Unit]
Description=Start Firefox Kiosk
After=graphical.target
Requires=graphical.target

[Service]
Type=simple
User=pi
Restart=always
Environment="DISPLAY=:0"  # Set the display variable
ExecStart=/usr/bin/nohup /usr/bin/python3 /usr/share/photo-frame-pygame/photo-frame-pygame/pfpygame.py

[Install]
WantedBy=multi-user.target